// dark theme primary color
body[theme-mode="dark"] {
    --semi-color-primary              : rgba(var(--semi-orange-5), 1);
    --semi-color-primary-hover        : rgba(var(--semi-orange-6), 1);
    --semi-color-primary-active       : rgba(var(--semi-orange-7), 1);
    --semi-color-primary-disabled     : rgba(var(--semi-orange-2), 1);
    --semi-color-primary-light-default: rgba(var(--semi-orange-5), .2);
    --semi-color-primary-light-hover  : rgba(var(--semi-orange-5), .3);
    --semi-color-primary-light-active : rgba(var(--semi-orange-5), .4);
    --semi-color-focus-border         : rgba(var(--semi-orange-5), 1);
}

// light theme primary color
body {
    --semi-color-primary: rgba(var(--semi-orange-5), 1);
    --semi-color-primary-hover: rgba(var(--semi-orange-6), 1);
    --semi-color-primary-active: rgba(var(--semi-orange-7), 1);
    --semi-color-primary-disabled: rgba(var(--semi-orange-2), 1);
    --semi-color-primary-light-default: rgba(var(--semi-orange-5), .2);
    --semi-color-primary-light-hover: rgba(var(--semi-orange-5), .3);
    --semi-color-primary-light-active: rgba(var(--semi-orange-5), .4);
    --semi-color-focus-border: rgba(var(--semi-orange-5), 1);
}

