// dard theme
body[theme-mode="dark"] {
    --semi-red-0                      : 108, 9, 11;
    --semi-red-1                      : 144, 17, 16;
    --semi-red-2                      : 180, 32, 25;
    --semi-red-3                      : 215, 51, 36;
    --semi-red-4                      : 251, 73, 50;
    --semi-red-5                      : 252, 114, 90;
    --semi-red-6                      : 253, 153, 131;
    --semi-red-7                      : 253, 189, 172;
    --semi-red-8                      : 254, 223, 213;
    --semi-red-9                      : 255, 243, 239;
    --semi-pink-0                     : 92, 7, 48;
    --semi-pink-1                     : 128, 14, 65;
    --semi-pink-2                     : 164, 23, 82;
    --semi-pink-3                     : 199, 34, 97;
    --semi-pink-4                     : 235, 47, 113;
    --semi-pink-5                     : 239, 86, 135;
    --semi-pink-6                     : 243, 126, 160;
    --semi-pink-7                     : 247, 168, 188;
    --semi-pink-8                     : 251, 211, 220;
    --semi-pink-9                     : 253, 238, 241;
    --semi-purple-0                   : 74, 16, 97;
    --semi-purple-1                   : 94, 23, 118;
    --semi-purple-2                   : 115, 31, 138;
    --semi-purple-3                   : 137, 40, 159;
    --semi-purple-4                   : 159, 51, 179;
    --semi-purple-5                   : 181, 83, 194;
    --semi-purple-6                   : 202, 120, 209;
    --semi-purple-7                   : 221, 160, 225;
    --semi-purple-8                   : 239, 206, 240;
    --semi-purple-9                   : 247, 235, 247;
    --semi-violet-0                   : 64, 27, 119;
    --semi-violet-1                   : 76, 36, 140;
    --semi-violet-2                   : 88, 46, 160;
    --semi-violet-3                   : 100, 57, 181;
    --semi-violet-4                   : 113, 70, 201;
    --semi-violet-5                   : 136, 101, 212;
    --semi-violet-6                   : 162, 136, 223;
    --semi-violet-7                   : 190, 173, 233;
    --semi-violet-8                   : 221, 212, 244;
    --semi-violet-9                   : 241, 238, 250;
    --semi-indigo-0                   : 23, 30, 101;
    --semi-indigo-1                   : 32, 41, 122;
    --semi-indigo-2                   : 41, 54, 142;
    --semi-indigo-3                   : 52, 68, 163;
    --semi-indigo-4                   : 64, 83, 183;
    --semi-indigo-5                   : 95, 113, 197;
    --semi-indigo-6                   : 129, 145, 212;
    --semi-indigo-7                   : 167, 180, 226;
    --semi-indigo-8                   : 209, 216, 241;
    --semi-indigo-9                   : 237, 239, 248;
    --semi-blue-0                     : 5, 49, 112;
    --semi-blue-1                     : 10, 70, 148;
    --semi-blue-2                     : 19, 92, 184;
    --semi-blue-3                     : 29, 117, 219;
    --semi-blue-4                     : 41, 144, 255;
    --semi-blue-5                     : 84, 169, 255;
    --semi-blue-6                     : 127, 193, 255;
    --semi-blue-7                     : 169, 215, 255;
    --semi-blue-8                     : 212, 236, 255;
    --semi-blue-9                     : 239, 248, 255;
    --semi-light-blue-0               : 0, 55, 97;
    --semi-light-blue-1               : 0, 77, 133;
    --semi-light-blue-2               : 3, 102, 169;
    --semi-light-blue-3               : 10, 130, 204;
    --semi-light-blue-4               : 19, 159, 240;
    --semi-light-blue-5               : 64, 180, 243;
    --semi-light-blue-6               : 110, 200, 246;
    --semi-light-blue-7               : 157, 220, 249;
    --semi-light-blue-8               : 206, 238, 252;
    --semi-light-blue-9               : 235, 248, 254;
    --semi-cyan-0                     : 4, 52, 61;
    --semi-cyan-1                     : 7, 79, 92;
    --semi-cyan-2                     : 10, 108, 123;
    --semi-cyan-3                     : 14, 137, 153;
    --semi-cyan-4                     : 19, 168, 184;
    --semi-cyan-5                     : 56, 187, 198;
    --semi-cyan-6                     : 98, 205, 212;
    --semi-cyan-7                     : 145, 223, 227;
    --semi-cyan-8                     : 198, 239, 241;
    --semi-cyan-9                     : 231, 247, 248;
    --semi-teal-0                     : 2, 60, 57;
    --semi-teal-1                     : 4, 90, 84;
    --semi-teal-2                     : 7, 119, 111;
    --semi-teal-3                     : 10, 149, 136;
    --semi-teal-4                     : 14, 179, 161;
    --semi-teal-5                     : 51, 194, 176;
    --semi-teal-6                     : 94, 209, 193;
    --semi-teal-7                     : 142, 225, 211;
    --semi-teal-8                     : 196, 240, 232;
    --semi-teal-9                     : 230, 247, 244;
    --semi-green-0                    : 18, 60, 25;
    --semi-green-1                    : 28, 90, 37;
    --semi-green-2                    : 39, 119, 49;
    --semi-green-3                    : 50, 149, 61;
    --semi-green-4                    : 62, 179, 72;
    --semi-green-5                    : 93, 194, 100;
    --semi-green-6                    : 127, 209, 132;
    --semi-green-7                    : 166, 225, 168;
    --semi-green-8                    : 208, 240, 209;
    --semi-green-9                    : 236, 247, 236;
    --semi-light-green-0              : 38, 61, 19;
    --semi-light-green-1              : 59, 92, 29;
    --semi-light-green-2              : 81, 123, 40;
    --semi-light-green-3              : 103, 153, 52;
    --semi-light-green-4              : 127, 184, 64;
    --semi-light-green-5              : 151, 198, 95;
    --semi-light-green-6              : 176, 212, 129;
    --semi-light-green-7              : 201, 227, 167;
    --semi-light-green-8              : 228, 241, 209;
    --semi-light-green-9              : 243, 248, 237;
    --semi-lime-0                     : 49, 70, 3;
    --semi-lime-1                     : 75, 105, 5;
    --semi-lime-2                     : 103, 141, 9;
    --semi-lime-3                     : 132, 176, 12;
    --semi-lime-4                     : 162, 211, 17;
    --semi-lime-5                     : 174, 220, 58;
    --semi-lime-6                     : 189, 229, 102;
    --semi-lime-7                     : 207, 237, 150;
    --semi-lime-8                     : 229, 246, 201;
    --semi-lime-9                     : 243, 251, 233;
    --semi-yellow-0                   : 84, 73, 3;
    --semi-yellow-1                   : 126, 108, 6;
    --semi-yellow-2                   : 168, 142, 10;
    --semi-yellow-3                   : 210, 175, 15;
    --semi-yellow-4                   : 252, 206, 20;
    --semi-yellow-5                   : 253, 222, 67;
    --semi-yellow-6                   : 253, 235, 113;
    --semi-yellow-7                   : 254, 245, 160;
    --semi-yellow-8                   : 254, 251, 208;
    --semi-yellow-9                   : 255, 254, 236;
    --semi-amber-0                    : 81, 46, 9;
    --semi-amber-1                    : 121, 74, 15;
    --semi-amber-2                    : 161, 107, 22;
    --semi-amber-3                    : 202, 143, 30;
    --semi-amber-4                    : 242, 183, 38;
    --semi-amber-5                    : 245, 202, 80;
    --semi-amber-6                    : 247, 219, 122;
    --semi-amber-7                    : 250, 234, 166;
    --semi-amber-8                    : 252, 246, 210;
    --semi-amber-9                    : 254, 251, 237;
    --semi-orange-0                   : 85, 31, 3;
    --semi-orange-1                   : 128, 53, 6;
    --semi-orange-2                   : 170, 80, 10;
    --semi-orange-3                   : 213, 110, 15;
    --semi-orange-4                   : 255, 146, 20;
    --semi-orange-5                   : 255, 174, 67;
    --semi-orange-6                   : 255, 199, 114;
    --semi-orange-7                   : 255, 221, 161;
    --semi-orange-8                   : 255, 239, 208;
    --semi-orange-9                   : 255, 249, 237;
    --semi-grey-0                     : 39, 36, 34;
    --semi-grey-1                     : 59, 54, 52;
    --semi-grey-2                     : 78, 73, 70;
    --semi-grey-3                     : 98, 92, 88;
    --semi-grey-4                     : 117, 112, 107;
    --semi-grey-5                     : 146, 142, 136;
    --semi-grey-6                     : 176, 172, 167;
    --semi-grey-7                     : 205, 202, 198;
    --semi-grey-8                     : 234, 233, 230;
    --semi-grey-9                     : 249, 249, 249;
    --semi-color-primary              : rgba(var(--semi-orange-5), 1);
    --semi-color-primary-hover        : rgba(var(--semi-orange-6), 1);
    --semi-color-primary-active       : rgba(var(--semi-orange-7), 1);
    --semi-color-primary-disabled     : rgba(var(--semi-orange-2), 1);
    --semi-color-primary-light-default: rgba(var(--semi-orange-5), .2);
    --semi-color-primary-light-hover  : rgba(var(--semi-orange-5), .3);
    --semi-color-primary-light-active : rgba(var(--semi-orange-5), .4);
    --semi-color-focus-border         : rgba(var(--bsemi-lue-5), 1);
    --semi-white                      : 255, 255, 255;
    --semi-black                      : 0, 0, 0;
}