@font-face {
    font-family: 'Inter';
    src: url("https://sf6-cdn-tos.douyinstatic.com/obj/eden-cn/slepweh7nupqpognuhbo/Inter-Regular.ttf") format("ttf");
}

@font-face {
    font-family: 'Inter-Bold';
    src: url("https://sf6-cdn-tos.douyinstatic.com/obj/eden-cn/slepweh7nupqpognuhbo/Inter-Bold.ttf") format("ttf");
}

html,
body {
    line-height: 20px;
    color: var(--semi-color-text-0);
    font-size: 14px;
    padding: 0;
    margin: 0;
    background: var(--semi-color-bg-0);

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
    }

    &::-webkit-scrollbar-corner {
        background-color: rgba(0, 0, 0, 0);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background: var(--semi-color-fill-2);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--semi-color-fill-1);
    }
}

body[theme-mode='dark'] {
    .home-page .ecology {

        &-react,
        &-theme-editor,
        &-animation-editor {
            background-color: var(--semi-color-fill-0);
        }
    }

    .live-container {
        border-color: transparent;

        .editor-outer .editor-container {
            background: rgba(255, 255, 255, 0.04);
        }
    }

    .markdown pre {
        background-color: var(--semi-color-bg-1);
        border-color: transparent;
    }
}

/* ++++ Left side Nav start ++++ */
.semi-navigation-vertical {
    .menu-item {
        &>.semi-navigation-item {
            margin-bottom: 8px !important;
        }
    }
}

.lin-header-breadcrumb {
    line-height: 20px;

    .semi-breadcrumb-item-icon {
        font-size: 20px;
    }

    .semi-breadcrumb-separator {
        margin-top: 4px;
    }

    .semi-breadcrumb-item-title {
        margin-top: 4px;

        .semi-typography-small {
            font-size: 14px;
        }
    }
}

/* ---- Left side Nav start ---- */

.semi-card {
    background-color: var(--semi-color-bg-1);
}

.semi-progress-horizontal .semi-progress-track-inner {
    transition: width 0s;
}