.idea/
test_data
bin/
.vscode/
.DS_Store
*.log
.history

# temp file during testing
*.test
.vscode/
cpu_profile
*gomock*
*.db

# config files
*.toml

## Go
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# mock files
*mock.go
*mock.pb.go
*mock_test.go

default.etcd
web/node_modules/
web/build/*
web/yarn-error.log
web/package-lock.json

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
