.idea/
test_data
bin/
.vscode/
.DS_Store
*.log
.history
*.bat
release/

# temp file during testing
cpu_profile
*gomock*
*.db
*.pprof

# config files
root.toml
broker.toml
storage.toml
standalone.toml

## Go
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# mock files
*mock.go
*mock.pb.go
*mock_test.go

# docker cluster
docker/broker*/
docker/storage*/

default.etcd
web/node_modules/
web/build/*
web/static/*
web/yarn-error.log
web/package-lock.json

# Test binary, built with `go test -c`
*.test
1.txt

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.cov
coverage.html

/data

# Dependency directories (remove the comment below to include it)
# vendor/
