{{range .}}
package {{.package}}

import (
	"github.com/lindb/roaring"
)

// {{.type}}Store represents int map using roaring bitmap
type {{.type}}Store struct {
	keys      *roaring.Bitmap // store all keys
	values    [][]{{.value}}  // store all values by high/low key
}

// New{{.type}}Store creates a int map
func New{{.type}}Store() *{{.type}}Store {
	return &{{.type}}Store{
		keys: roaring.New(),
	}
}

// Get returns value by key, if exist returns it, else returns nil, false
func (m *{{.type}}Store) Get(key uint32) ({{.value}}, bool) {
	if len(m.values) == 0 {
		return nil, false
	}
	found, highIdx, lowIdx := m.keys.ContainsAndRank(key)
	if !found {
		return nil, false
	}
	return m.values[highIdx][lowIdx-1], true
}

// Put puts the value by key
func (m *{{.type}}Store) Put(key uint32, value {{.value}}) {
	if len(m.values) == 0 {
		// if values is empty, append new low container directly
		m.keys.Add(key)
		m.values = append(m.values, []{{.value}}{value})
		return
	}

	// try find key if exist
	found, highIdx, lowIdx := m.keys.ContainsAndRank(key)
	if !found {
		// not found
		m.keys.Add(key)
		if highIdx >= 0 {
			// high container exist
			stores := m.values[highIdx]
			// insert operation
			stores = append(stores, nil)
			copy(stores[lowIdx+1:], stores[lowIdx:len(stores)-1])
			stores[lowIdx] = value
			m.values[highIdx] = stores
		} else {
			// high container not exist, append operation
			m.values = append(m.values, []{{.value}}{value})
		}
	}
}

// Keys returns the all keys
func (m *{{.type}}Store) Keys() *roaring.Bitmap {
	return m.keys
}

// Values returns the all values
func (m *{{.type}}Store) Values() [][]{{.value}} {
	return m.values
}

// size returns the size of keys
func (m *{{.type}}Store) Size() int {
	return int(m.keys.GetCardinality())
}

{{end}}
