/*
Licensed to LinDB under one or more contributor
license agreements. See the NOTICE file distributed with
this work for additional information regarding copyright
ownership. LinDB licenses this file to you under
the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
 
Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
*/

.chart-metric-container {
  height: 100%;
  display: flex;
  flex-flow: column wrap;

  .crosshair {
    border-left: 1px dashed var(--semi-color-danger);
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
  }

  .zoom {
    background: var(--semi-color-primary-light-default);
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
  }

  &.legend-to-right {
    flex-direction: row;
  }

  &.chart-cursor-pointer {
    canvas {
      cursor: pointer !important;
    }
  }

  .chart-canvas-wrapper {
    flex: 1 0;
    position: relative;
    max-width: 100%;

    canvas {
      cursor: default;
      position: absolute;
      inset: 0;
    }
  }
}

.chart-metric-legend-container {
  max-height: 30%;
  max-width: 100%;
  overflow: auto;
  width: auto;
  color: var(--semi-color-text-0);

  &.align-center {
    text-align: center;
  }

  &.align-right {
    text-align: right;
  }

  &.to-right {
    height: auto;
    max-height: 100%;
    max-width: 70%;

    .chart-legend-content {
      display: flex;
      flex-direction: column;
    }
  }
}

.chart-legend-content {
  &.table {
    display: table !important;
    width: 100%;

    .chart-legend-series {
      display: table-row;

      .legend-series-key,
      .legend-series-value {
        display: table-cell;
      }

      .legend-series-key {
        text-align: left;
      }

      .legend-series-value {
        text-align: right;
      }
    }
  }

  .chart-legend-split-layout {
    display: flex;

    .chart-legend__split-left {
      text-align: left;
    }

    .chart-legend__split-right {
      text-align: right;
      margin-left: 30px;
    }
  }

  &:not(.active):hover {
    .chart-legend-series {
      opacity: 0.7;
    }
  }
}

.chart-legend-table-header {
  display: table-row;

  .chart-legend-th-content {
    display: table-cell;
    text-align: right;
    font-size: 12px;
    font-weight: bold;
    color: rgb(0 100 250);
    cursor: pointer;
    white-space: nowrap;
    user-select: none;

    span {
      padding: 3px 6px;

      &.legend-name-col {
        padding-left: 20px;
      }
    }

    &.no-pointer {
      cursor: default;
      text-align: left;
    }

    &.order span::after {
      display: inline-block;
      padding: 0 0 0 4px;
      content: "▲";
      transition: all 0.2s;
      transform: rotateX(0);
    }

    &.order.desc span::after {
      transform: rotateX(180deg);
    }
  }
}

.chart-legend-series {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin: 0 6px;
  opacity: 1;
  transition: opacity 0.2s;
  font-size: 12px;
  max-width: 100%;

  .legend-series-key {
    padding: 0 6px;
    font-weight: bold;
    white-space: nowrap;

    .legend-series-icon {
      display: inline-block;
      height: 8px;
      width: 8px;
      flex-shrink: 0;
      border-radius: 50%;
      transition: transform 0.2s;
      vertical-align: middle;
      margin-right: 6px;
    }
  }

  .legend-series-value {
    padding-right: 6px;
    white-space: nowrap;

    &:last-child {
      margin-right: 0;
    }
  }

  &.fade {
    opacity: 0.35;
  }

  &.collapse {
    visibility: collapse;
  }

  &:hover {
    opacity: 1 !important;

    .legend-series-icon {
      transform: scale(1.2);
    }
  }
}

.chart-metric-tooltip {
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
  border: 1px solid var(--semi-color-border);
  color: var(--semi-color-text-0);
  background: var(--semi-color-bg-3);
  border-radius: 2px;
  line-height: 1em;
  font-size: 12px;
  min-height: 50px;
  position: absolute;
  z-index: 9999;
  display: none;
  flex-direction: column;
  max-height: 400px;

  &.fixed {
    position: fixed;
  }

  &.show {
    display: flex;
  }

  &.in-chart {
    transform: translateY(-50%);
  }

  .tooltip-top-kick {
    background: var(--semi-color-bg-3);
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
      0 9px 28px 8px rgb(0 0 0 / 5%);
    border: 1px solid 0 3px 6px -4px rgb(0 0 0 / 12%),
      0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
    left: 18px;
    position: fixed;
    transform: rotate(45deg) skew(10deg, 10deg) translate(-70%, 16%);
    width: 16px;
    height: 16px;
    z-index: 1;
  }

  .tooltip-title {
    border-bottom: 1px solid 0 3px 6px -4px rgb(0 0 0 / 12%),
      0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
    border-bottom: 1px solid var(--semi-color-border);
    position: relative;
    z-index: 2;
    white-space: nowrap;
    background: var(--semi-color-bg-3);
    display: flex;

    /* justify-content: space-between; */
    align-items: center;
    flex-shrink: 0;
    width: 100%;

    time {
      flex: 1 0 auto;
      text-align: center;
    }
  }
}

.tooltip-toolbar {
  width: 100%;
  padding: 0.6em;

  .toolbar-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .tooltip-curr-time {
      flex: 0;
    }

    .tooltip-btn-group {
      flex: 1;

      button {
        float: right;
      }
    }
  }

  .tooltip-toolbar-btn {
    margin-left: 0;
    margin-right: 0;
  }

  .tooltip-toolbar-btn > .anticon {
    vertical-align: text-top;
  }

  .tooltip-toolbar__search-input {
    margin-top: 0.5em;
    display: block;
    max-width: 100%;

    input {
      font-size: 12px;
      padding: 0 0 0 6px;
    }
  }
}

.tooltip-content-list {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  z-index: 2;
  background: var(--semi-color-bg-3);
  width: 100%;
  flex: 1;

  .tooltip-list {
    width: 100%;
    display: table;
  }

  .tooltip-empty-tip {
    padding: 0.8em 0;
    text-align: center;
    font-size: 14px;
  }
}

.tooltip-content-list-item {
  display: table-row;
  opacity: 0.35;
  transition: opacity 0.2s;

  &.selected {
    opacity: 1;
  }

  .tooltip-series-key {
    display: table-cell;
    padding: 5px 0 5px 10px;
    text-align: left;
    cursor: pointer;
    white-space: nowrap;

    .tooltip-series-icon {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }

    .tooltip-series-label {
      padding: 0 0.6em;
    }
  }

  .tooltip-series-value {
    display: table-cell;
    padding: 0 10px;
    text-align: right;
  }
}
