.lin-table {
    .semi-empty-image {
        height: 150px !important;
        width: 150px;
    }

    .semi-descriptions-item-th {
        padding-right: 8px;
    }
}

.lin-small-desc {
    .semi-descriptions-key {
        font-size: 12px;
    }

    .semi-descriptions-item {
        padding-bottom: 6px;
        padding-right: 12px;
    }
}

.lin-stats {
    .semi-progress-line-text {
        min-width: 60px;
    }
}