
.lin-table {
    .semi-empty-image {
        height: 150px !important;
        width: 150px;
    }

    .semi-descriptions-item-th {
        padding-right: 8px;
    }
}

.lin-small-desc {
    .semi-descriptions-key {
        font-size: 12px;
    }

    .semi-descriptions-item {
        padding-bottom: 6px;
        padding-right: 12px;
    }
}

.lin-stats {
    .semi-progress-line-text {
        min-width: 60px;
    }
}

.lin-tag-filter {
    .semi-form-field {
        padding-top: 0;
        padding-bottom: 0;
    }

    .semi-tagInput-wrapper .semi-tagInput-wrapper-input {
        width: 0;
        min-width: 0;
    }
}

.lin-form {
    .semi-form-field {
        padding-top: 4px;
        padding-bottom: 4px;
    }
}

.identifier {
    color: var(--semi-color-text-0);
}

.lin-db-form {
    .semi-form-field-group {
        display: inline-block;
    }

    .semi-form-field-group {
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

.lin-link {
    cursor: pointer;
}

.lin-explain-timeline {
    height: 14px;
    width: 100px;
    border: 1px solid var(--semi-color-fill-2);
	.inner {
		height: 12px;
		min-width: 1px;
	}
}
