## Coordinator related configuration.
[coordinator]
## Coordinator coordinates reads/writes operations between different nodes
## namespace organizes etcd keys into a isolated complete keyspaces for coordinator
## Default: /lindb-cluster
namespace = "/lindb-cluster"
## Endpoints config list of ETCD cluster
## Default: ["http://localhost:2379"]
endpoints = ["http://localhost:2379"]
## Lease-TTL is a number in seconds.
## It controls how long a ephemeral node like zookeeper will be removed when heartbeat fails.
## lease expiration will cause a re-elect.
## Min: 5s
## Default: 10s
lease-ttl = "10s"
## Timeout is the timeout for failing to executing a etcd command.
## Default: 5s
timeout = "5s"
## DialTimeout is the timeout for failing to establish a etcd connection.
## Default: 5s
dial-timeout = "5s"
## Username is a user name for etcd authentication.
## Default: ""
username = ""
## Password is a password for etcd authentication.
## Default: ""
password = ""

## Query related configuration.
[query]
## Number of queries allowed to execute concurrently
## Default: 1024
query-concurrency = 1024
## Idle worker will be canceled in this duration
## Default: 5s
idle-timeout = "5s"
## Maximum timeout threshold for query.
## Default: 5s
timeout = "5s"

## Storage related configuration
[storage]
## interval for how often do ttl job
## Default: 24h0m0s
ttl-task-interval = "24h0m0s"
## Broker http endpoint which storage self register address
## Default: http://localhost:9000
broker-endpoint = "http://localhost:9000"

## Storage HTTP related configuration.
[storage.http]
## port which the HTTP Server is listening on
## Default: 2892
port = 2892
## maximum duration the server should keep established connections alive.
## Default: 2m0s
idle-timeout = "2m0s"
## maximum duration before timing out for server writes of the response
## Default: 5s
write-timeout = "5s"
## maximum duration for reading the entire request, including the body.
## Default: 5s
read-timeout = "5s"

## Storage GRPC related configuration.
[storage.grpc]
## port which the GRPC Server is listening on
## Default: 2891
port = 2891
## max-concurrent-streams limits the number of concurrent streams to each ServerTransport
## Default: 1024 
max-concurrent-streams = 1024
## connect-timeout sets the timeout for connection establishment.
## Default: 3s
connect-timeout = "3s"

## Write Ahead Log related configuration.
[storage.wal]
## WAL mmaped log directory
## Default: data/storage/wal
dir = "data/storage/wal"
## data-size-limit is the maximum size in megabytes of the page file before a new
## file is created. It defaults to 512 megabytes, available size is in [1MB, 1GB]
## Default: 128 MiB
data-size-limit = "128 MiB"
## interval for how often remove expired write ahead log
## Default: 1m0s
remove-task-interval = "1m0s"

## TSDB related configuration.
[storage.tsdb]
## The TSDB directory where the time series data and meta file stores.
## Default: data/storage/data
dir = "data/storage/data"

## Flush configuration
## 
## The amount of data to build up in each memdb, 
## before it is queueing to the immutable list for flushing.
## larger memdb may improve query performance.
## Default: 500 MiB
max-memdb-size = "500 MiB"
## Mutable memdb will switch to immutable this often,
## event if the configured memdb-size is not reached.
## Default: 30m0s
mutable-memdb-ttl = "30m0s"
## Global flush operation will be triggered
## when system memory usage is higher than this ratio.
## Default: 0.75
max-mem-usage-before-flush = 0.75
## Global flush operation will be stopped 
## when system memory usage is lower than this ration.
## Default: 0.60
target-mem-usage-after-flush = 0.60
## concurrency of goroutines for flushing.
## Default: 6
flush-concurrency = 6

## Config for the Internal Monitor
[monitor]
## time period to process an HTTP metrics push call
## Default: 3s
push-timeout = "3s"
## monitor won't start when interval is sets to 0
## such as cpu, memory, and disk, process and go runtime
## Default: 10s
report-interval = "10s"
## URL is the target of broker native ingestion url
## Default: http://127.0.0.1:9000/api/v1/write?db=_internal
url = "http://127.0.0.1:9000/api/v1/write?db=_internal"

## logging related configuration.
[logging]
## Dir is the output directory for log-files
## Default: data/log
dir = "data/log"
## Determine which level of logs will be emitted.
## error, warn, info, and debug are available
## Default: info
level = "info"
## MaxSize is the maximum size in megabytes of the log file before it gets rotated. 
## Default: 100 MiB
maxsize = "100 MiB"
## MaxBackups is the maximum number of old log files to retain. The default
## is to retain all old log files (though MaxAge may still cause them to get deleted.)
## Default: 3
maxbackups = 3
## MaxAge is the maximum number of days to retain old log files based on the
## timestamp encoded in their filename.  Note that a day is defined as 24 hours
## and may not exactly correspond to calendar days due to daylight savings, leap seconds, etc.
## The default is not to remove old log files based on age.
## Default: 7
maxage = 7