//@component-background: #292929;
@border-radius-base : 8px;
@border-radius-sm   : 6px;
@card-head-font-size-sm: 16px;
@heading-color: #35a6c9;
@blue-6: #35a6c9;
@btn-danger-bg: #fff;

/* Custom Variable */
@block-spacing: 10px;

/* Variable Antd Style */
// Card
.@{card-prefix-cls} {
  margin-bottom: @block-spacing;
}
// Divider
.@{divider-prefix-cls} {
  &-horizontal&-with-text-center,
  &-horizontal&-with-text-left,
  &-horizontal&-with-text-right {
    margin: 10px 0;
  }
}