@import "~antd/dist/antd.css";

.collapse {
    font-size: 18px;
    line-height: 48px;
    padding: 0 18px;
    cursor: pointer;
    transition: none;
}

.collapse:hover {
    color: #1890ff;
}

.global-header-index-header {
    width: 100%;
    height: 48px;
    line-height: 48px;
    padding: 0;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
    position: fixed;
    z-index: 99;
}

.ant-form-item {
    margin-bottom: 12px;
}

.ant-layout-sider {
    -webkit-transition: none;
    background: #fff;
}

.logo {
    height: 32px;
    background: rgba(255, 255, 255, .2);
    margin: 16px;
}

.ant-card-head {
    min-height: 36px;
    padding: 0 8px;
}

.ant-card-extra {
    padding: 0 8px;
    margin-top: 8px;
}

.ant-card-head-title {
    font-size: 14px;
    padding: 8px 0;
}

.ant-card-wider-padding .ant-card-head {
    padding: 0 16px;
}

.ant-card-wider-padding .ant-card-body {
    padding: 8px 12px;
}

.chart > .ant-card-body {
    padding: 4px;
    zoom: 1;
}

.node-list .ant-card-body {
    padding: 8px;
}

.log-view .ant-card-body {
    margin-bottom: 50px;
    padding: 8px;
}

.status > .ant-badge-status-dot {
    width: 12px;
    height: 12px;
}

.ql-form-item {
    flex: 1;
    display: flex !important;
}

.ql-form-item > .ant-form-item-control-wrapper {
    display: flex;
    flex: 1;
}

.ql-form-item > .ant-form-item-control-wrapper > .ant-form-item-control {
    flex: 1;
}

.components-table-demo-nested .ant-table-expanded-row > td:last-child {
    padding: 0 48px 0 8px;
}

.components-table-demo-nested .ant-table-expanded-row > td:last-child .ant-table-thead th {
    border-bottom: 1px solid #e9e9e9;
}

.components-table-demo-nested .ant-table-expanded-row > td:last-child .ant-table-thead th:first-child {
    padding-left: 0;
}

.components-table-demo-nested .ant-table-expanded-row > td:last-child .ant-table-row td:first-child {
    padding-left: 0;
}

.components-table-demo-nested .ant-table-expanded-row .ant-table-row:last-child td {
    border: none;
}

.components-table-demo-nested .ant-table-expanded-row .ant-table-thead > tr > th {
    background: none;
}

.components-table-demo-nested .table-operation a:not(:last-child) {
    margin-right: 24px;
}

.components-table-demo-nested .ant-table-expanded-row:hover > td {
    background: #fbfbfb;
}

.login-form {
    width: 100%;
}

.login-form-button {
    width: 100%;
}