name: LinDB CI
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
jobs:
  golangci:
    name: Golangci-Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21
          cache: true
        id: go
      - name: Make Mock files
        run: make gomock
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.51.2

  linux-test-with-coverage:
    name: Uint Test With Coverage(Linux)
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.21
          cache: true
        id: go
      - name: Make Mock files
        run: make gomock
      - name: Test
        run: make test-without-lint
      - name: Upload
        run: bash <(curl -s https://codecov.io/bash) -t ${{ secrets.CODECOV_TOKEN }}

  darwin-test:
    name: Unit Test(MacOS)
    runs-on: macos-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.21
          cache: true
        id: go
      - name: Make Mock files
        run: make gomock
      - name: Test
        run: make test-without-lint

  windows-test:
    name: Unit Test(Windows)
    runs-on: windows-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.21
          cache: true
        id: go
      - name: Set up MinGW
        uses: csukuangfj/setup-mingw@v2.2.1
        with:
          platform: x64
      - name: Make Mock files
        run: make gomock
      - name: Test
        run: make test-without-lint

  linux-e2e-test:
    name: E2E Test(Linux)
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.21
          cache: true
      - name: Test
        run: make e2e

  e2e-test-darwin:
    name: E2E Test(MacOS)
    runs-on: macos-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.21
          cache: true
      - name: Test
        run: make e2e

  e2e-test-windows:
    name: E2E Test(Windows)
    runs-on: windows-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.21
          cache: true
      - name: Set up MinGW
        uses: csukuangfj/setup-mingw@v2.2.1
        with:
          platform: x64
      - name: Test
        run: make e2e

  linux-crossversion:
    name: Build-Lind-CrossVersion
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.21
          cache: true
      - name: Build
        run: make build-lind


